.active {
  position: fixed;
  width: 100%;
  background-color: hsl(164.20000000000005, 85.7%, 16.5%);
  animation: headerActive 0.5s ease forwards;
}

@keyframes headerActive {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
